---
permalink: "/sitemap.xml"
eleventyExcludeFromCollections: true
staticPages:
  - { loc: "/index.html", priority: "1.0", changefreq: "monthly" }
  - { loc: "/about.html", priority: "0.7", changefreq: "monthly" }
  - { loc: "/services.html", priority: "0.9", changefreq: "monthly" }
  - { loc: "/faq.html", priority: "0.8", changefreq: "monthly" }
  - { loc: "/blog.html", priority: "0.8", changefreq: "weekly" }
  - { loc: "/assessment.html", priority: "0.9", changefreq: "monthly" }
  - { loc: "/contact.html", priority: "0.6", changefreq: "yearly" }
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for p in staticPages %}
  <url><loc>{{ site.url }}{{ p.loc }}</loc><changefreq>{{ p.changefreq }}</changefreq><priority>{{ p.priority }}</priority></url>
{%- endfor %}
{%- for post in collections.posts %}
  <url><loc>{{ site.url }}{{ post.url }}</loc><lastmod>{{ post.date | isoDate }}</lastmod><changefreq>yearly</changefreq><priority>0.7</priority></url>
{%- endfor %}
</urlset>
